.commodity-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.demo-pagination-block + .demo-pagination-block {
    margin-top: 10px;
}

.demo-pagination-block .demonstration {
    margin-bottom: 16px;
}

.commodity-header{
    align-self: center;
    margin-bottom: 30px;
}

.commodity-header .commodity-search {
    margin-right: 20px;
}

.paging {
    margin-left: 20%;
}